---
layout: default
title: About us
---
{% include navigation.html %}

<!--================Home Banner Area =================-->
<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
        <div class="container">
            <div class="banner_content text-center">
                <div class="page_link">
                    <a href="index.html">Home</a>
                    <a href="about-us.html">About</a>
                </div>
                <h2>About Us</h2>
            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->

<!--================Start About Us Area =================-->
<section class="about_us_info_area">
    <div class="about_us_info_content align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section_content">
                        <h6>About Us</h6>
                        <h1 class="text-center">Passionate developers who strives to provide high quality software.</h1>
                        <p class="text-center">Nullsson is a growing software development studio mainly focusing on developing games and other various 
                            types of media applications. Here we exercise creativity and innovation for the love of our craft to 
                            provide the world with software we can all be proud of.</p>
                            <p class="text-center">By providing both educational and entertaining content within the areas of game and 
                                media developent, we hope to be able to give our community an insight into how we work, 
                                both to teach others how professional developers work as well as learning from others 
                                how we can improve.
                            </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End About Us Area =================-->

<!--================Start Team Area =================-->
<section class="theteam_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="main_title">
                    <h2>Meet The Team</h2>
                    <h1>Meet The Team</h1>
                </div>
            </div>
        </div>
        <div class="row align-items-center text-center">
            <div class="col-md-4">
                <img src="assets/img/about/oskar.jpg" alt="" style="border-radius: 50%; margin-bottom: 40px;">
                <h3 class="mb-20">Oskar</h3>
                <p>Core programmer</p>
            </div>
            <div class="col-md-4">
                <img src="assets/img/about/jesper.png" alt="" style="border-radius: 50%; margin-bottom: 40px;">
                <h3 class="mb-20">Jesper</h3>
                <p>Core programmer</p>
            </div>
            <div class="col-md-4">
                <img src="assets/img/about/carina.png" alt="" style="border-radius: 50%; margin-bottom: 40px;">
                <h3 class="mb-20">Carina</h3>
                <p>Art & Graphics</p>
            </div>
        </div>
    </div>
</section>
<!--================End Team Area =================-->

{% include newsletter.html %}

{% include footer.html %}