---
layout: default
title: Brainroll
---
{% include navigation.html %}

<!--================Home Banner Area =================-->
<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
        <div class="container">
            <div class="banner_content text-center">
                <div class="page_link">
                    <a href="index.html">Home</a>
                    <a href="redzenith.html">Brainroll</a>
                </div>
                <h2>Brainroll</h2>
            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->

<!--================Main Area =================-->
<section class="section_gap_top section_gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="main_title">
                    <h2>Brainroll</h2>
                    <h1>Brainroll</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- <div class="col-lg-3 col-md-0 col-sm-0"></div> -->
            <div class="col-lg-6 col-md-6 col-sm-12">
                <h2 class="text-center">About</h2>
                <p>
                    Brainroll is an ice sliding puzzle game where you have to slide your way out of a cave. 
                    The ice is very slippery so you have to use the cave walls in order to help you stop sliding.
                </p>
                <h3 class="text-center">Features</h3>
                <ul>
                    <li>25 Pre-made levels with more to come</li>
                    <li>7 Different mechanics that can be combined to create interesting puzzles</li>
                    <ul>
                        <li>Walls that stops your movement when you collide with them</li>
                        <li>Coins which you have to collect all of in order to complete the level</li>
                        <li>Teleporters which takes you from once location to another</li>
                        <li>Spikes which kills you if you collide with them</li>
                        <li>Slimes which makes you stick and stops your movement when you collide with them</li>
                        <li>Bombs which you have to defuse before the specified number of rounds</li>
                        <li>Small brainrolls which stick onto you and follow your movement like an extension of yourself</li>
                    </ul>
                    <li>Deterministic design</li>
                    <li>In-game level editor to allow you to create your own levels to share with others</li>
                    <li>Get access to all future versions of Brainroll</li>
                </ul>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="single-gallery">
                    <div class="overlay"></div>
                    <img class="img-fluid w-100" src="assets/img/brainroll/brainroll3.png" alt="">
                    <div class="content">
                        <a class="pop-up-image" href="assets/img/brainroll/brainroll3.png">
                            <i class="lnr lnr-eye"></i>
                        </a>
                    </div>
                </div>
                <div class="single-gallery">
                    <div class="overlay"></div>
                    <img class="img-fluid w-100" src="assets/img/brainroll/brainroll1.png" alt="">
                    <div class="content">
                        <a class="pop-up-image" href="assets/img/brainroll/brainroll1.png">
                            <i class="lnr lnr-eye"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Main Area =================-->

<!--================Itch io Area =================-->
<section class="section_gap_bottom">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-0 col-sm-0"></div>
            <div class="col-lg-6 col-md-12 col-sm-12">
                <h1 class="text-center">Get it out now!</h1>
                <iframe src="https://itch.io/embed/1327042" height="167" width="552" frameborder="0"><a href="https://nullsson.itch.io/brainroll">Brainroll by Nullsson</a></iframe>
            </div>
        </div>
    </div>
</section>
<!--================Itch io Area  =================-->

{% include newsletter.html %}
{% include footer.html %}