---
layout: default
title: Nullsson
---
{% include navigation.html %}

<!--================Home Banner Area =================-->
<section class="home_banner_area">
    <div class="banner_inner">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="home_left_img">
                        <img class="img-fluid" src="assets/img/banner/home-left.png" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="banner_content">
                        <h2>
                            Games & Multimedia Development
                        </h2>
                        <p>
                            With love and passion for the craft we create software that we can be proud of.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->

<!--================Start About Us Area =================-->
<section class="about_us_area section_gap_top">
    <div class="container">
        <div class="row about_content align-items-center">
            <div class="col-lg-6">
                <div class="section_content">
                    <h6>About Us</h6>
                    <h1>Passionate developers <br> who strives to provide high quality software.</h1>
                    <p>By providing both educational and entertaining content within the areas of game and 
                        media development, we hope to be able to give our community an insight into how we work, 
                        both to teach others how professional developers work as well as learning from others 
                        how we can improve.</p>
                    <a class="primary_btn" href="#">Learn More</a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about_us_image_box justify-content-center">
                    <img class="img-fluid w-100" src="assets/img/about_img.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End About Us Area =================-->

<!--================First Upcoming Games Area =================-->
<section class="upcoming_games_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="main_title">
                    <h2>Our projects</h2>
                    <h1>Our projects</h1>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="new_games_item">
                    <img src="assets/img/redzenith_1.png" alt="" style="border-radius: 50%;">
                    <div class="upcoming_title">
                        <h3><a href="redzenith.html">Red Zenith</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="new_games_item">
                    <img src="assets/img/generic_code_1.png" alt="" style="border-radius: 50%;">
                    <div class="upcoming_title">
                        <h3><a href="https://github.com/Nullsson/stn">STN</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="new_games_item">
                    <img src="assets/img/maraton_1.png" alt="" style="border-radius: 50%;">
                    <div class="upcoming_title">
                        <h3><a href="maraton.html">Maraton</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="new_games_item">
                    <img src="assets/img/generic_code_1.png" alt="" style="border-radius: 50%;">
                    <div class="upcoming_title">
                        <h3><a href="https://github.com/Nullsson/HyperTest">HyperTest</a></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Upcoming Games Area =================-->

{% include newsletter.html %}

{% include footer.html %}