---
layout: default
title: Red Zenith
---
{% include navigation.html %}

<!--================Home Banner Area =================-->
<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
        <div class="container">
            <div class="banner_content text-center">
                <div class="page_link">
                    <a href="index.html">Home</a>
                    <a href="redzenith.html">Red Zenith</a>
                </div>
                <h2>Red Zenith</h2>
            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->

<!--================Main Area =================-->
<section class="section_gap_top section_gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="main_title">
                    <h2>Red Zenith</h2>
                    <h1>Red Zenith</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12">
                <div class="text-center">
                        <h2>About</h2>
                        <p>Is a challenging arcade style jumping platformer where you have to use your
                            hook to aid you in reaching the top. Do you have the patience and decication to
                            beat the odds and reach the top?
                         </p>
                </div>
                <h3 class="text-center">Features</h3>
                <ul>
                    <li>Jump up a level with the help of your built-in hook.</li>
                    <li>Discover 5 different areas of the game all with different mechanics.</li>
                    <li>Risk loosing your progress every time you make a mistake.</li>
                    <li>Average of 1 hour of playtime with speedrun potential.</li>
                    <li>High definition ambient soundtracks.</li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 text-center">
                <video style="max-width: 100%;" autoplay loop muted controls>
                    <source src="assets/img/RedZenith/redzenithgameplay.mp4" type="video/mp4">
                </video>
            </div>
        </div>
    </div>
</section>
<!--================End Main Area =================-->

{% include newsletter.html %}

{% include footer.html %}