---
layout: default
title: Red Zenith
---
{% include navigation.html %}

<!--================Home Banner Area =================-->
<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
        <div class="container">
            <div class="banner_content text-center">
                <div class="page_link">
                    <a href="index.html">Home</a>
                    <a href="redzenith.html">Red Zenith</a>
                </div>
                <h2>Red Zenith</h2>
            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->

<!--================Main Area =================-->
<section class="section_gap_top section_gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="main_title">
                    <h2>Red Zenith</h2>
                    <h1>Red Zenith</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12">
                <h2 class="text-center">About</h2>
                <p>
                    Red Zenith is a challenging arcade style jumping platformer where 
                    the objective is to climb all the way to the top using your trusty 
                    hookshot! Do you have the patience and decication to
                    beat the odds and reach the top?
                </p>
                <h3 class="text-center">Features</h3>
                <ul>
                    <li>Jump up a level with the help of your built-in hookshot.</li>
                    <li>Discover 5 different areas of the game all with different mechanics.</li>
                    <li>Risk loosing your progress every time you make a mistake.</li>
                    <li>Average of 1 hour of playtime with speedrun potential.</li>
                    <li>High definition ambient soundtracks.</li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 text-center">
                <video style="max-width: 100%;" autoplay loop muted controls>
                    <source src="assets/img/RedZenith/redzenithgameplay.mp4" type="video/mp4">
                </video>
            </div>
        </div>
    </div>
</section>
<!--================End Main Area =================-->

<!--================Itch io Area =================-->
<section class="section_gap_bottom">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-0 col-sm-0"></div>
            <div class="col-lg-6 col-md-12 col-sm-12">
                <h1 class="text-center">Try it out now!</h1>
                <iframe src="https://itch.io/embed/1358806" height="167" width="552" frameborder="0"><a href="https://jeppser.itch.io/red-zenith">Red Zenith by JEPPSER</a></iframe>
            </div>
        </div>
    </div>
</section>
<!--================Itch io Area  =================-->

{% include newsletter.html %}
{% include footer.html %}