<!--================ Start Newsletter Area ================-->
<section class="newsletter_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="newsletter_inner">
                    <h1>Subscribe To Our Newsletter</h1>
                    <p>Be the first to learn about our updates!</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <aside class="newsletter_widget">
                    <div id="mc_embed_signup">
                        <form target="_blank" action="https://nullsson.us1.list-manage.com/subscribe/post?u=ed7e532089f6051909105b732&amp;id=86a1e45d02"
                        method="post" class="subscribe_form relative" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" novalidate>
                            <div class="input-group d-flex flex-row">
                                <input name="EMAIL" placeholder="Enter email address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your email address'"
                                required="" type="email">
                                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_ed7e532089f6051909105b732_86a1e45d02" tabindex="-1" value=""></div>
                                <button type="submit" onclick="alert('You have successfully subscribed to our newsletter, thank you!');" class="btn primary_btn">Subscribe</button>
                            </div>
                        </form>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</section>
<!--================ End Newsletter Area ================-->